.container {
    height: 100%;
    width: 225px;
    background-color: #292c44;
    padding-left: 0px;
    padidng-left: 0px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1031;
    -webkit-back-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    top: 0;
}

.schoolLink {
    display: flex;
    padding: 15px 15px 12px 20px;
    line-height: 30px;
    font-size: 15px;
    color: #eee;
    font-weight: 600;
    border-sizing: border-box;
}

.searchIcon {
    color: #fff;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: 5px;
    opacity: 0.7;
    float: right;
}

.searchIcon i {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.schoolLinkName {
    font-height: 300;
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 6px;
    line-height: 19px;
}

.navs a {
    color: rgba(211, 211, 211, .65);
}

.navs a:hover {
    color: #eeee;
    text-decoration: none;
}

.navs ul {
    padding-bottom: 0 !important;
    height: calc(100% -60px);
}

.navs li {
    float: none;
    position: relative;
    display: block;
}

.navs li {
    cursor: pointer;
    font-weight: 500;
    color: rgba(211, 211, 211, .65);
    padding: 0;
    transition: 0;
    width: 255px;
    height: 38px;
    border-left: 3px solid transparent;
    position: relative;
    display: block
}

.navs li i {
    display: block;
    transition: opacity 150ms ease-in-out;
    float: left;
    line-height: 38px;
    font-size: 19px;
    width: 26px;
    margin-left: 11px;
    text-align: center;
    opacity: 0.8
}

.navs li span {
    padding: 0 10px;
    line-height: 41px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    opacity: 1;
    letter-spacing: 0.2px;
    transition: opacity 150ms ease-in-out;
    font-size: 14px;
}

.navs hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #404040;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.navs li.active {
    color: #eee;
}

.navs li:hover {
    color: #eee;
}

.sectionTittle {
    width: 188px;
    font-size: 11px;
    margin-left: 17px;
    margin-bottom: 4px;
    margin-right: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #babbc3;
    margin-top: 22px;
}

.sectionTittle a.circle {
    float: right;
    color: #b2bbba;
    border: 1px solid #abb4b3;
    width: 15px;
    height: 15px;
    font-size: 14px;
    text-align: center;
    line-height: 11.5px;
    border-radius: 50%;
    font-weight: bold;
    margin-top: -2px;
}

.courses{
}

.courses a {

}

.courses span {
    padding: 0 20px;
    line-height: 40px;
    font-size: 13px;
    margin-left: 5px;
    font-weight: bolder;
}

.footer {
    background-color: #292c44;
    z-index: 1;
    position: fixed;
    bottom: 54px;
    width: 225px;
}

.footer hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #404040;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.navs li {
    float: none;
    position: relative;
    display: block;
}

.footer li {
    cursor: pointer;
    font-size: 13;
    font-weight: 500;
    color: rgba(211, 211, 211, .65);
    padding: 0;
    transition: 0;
    width: 255px;
    height: 38px;
    border-left: 3px solid transparent;
    position: relative;
    display: block
}

.footer li i {
    display: block;
    transition: opacity 150ms ease-in-out;
    float: left;
    line-height: 38px;
    font-size: 19px;
    width: 26px;
    margin-left: 11px;
    text-align: center;
    opacity: 0.8
}

.footer li span {
    padding: 0 10px;
    line-height: 41px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.2px;
    transition: opacity 150ms ease-in-out;
    font-size: 13px;
}

.footer li.active {
    color: #eee;
}

.footer li:hover {
    color: #eee;
}

.avatar {
    background-color: #21233a;
    width: 225px;
    position:fixed;
    bottom: 0;
    z-index: 2;
    color: white;
}

.avatar i {
    display: block;
    transition: opacity 150ms ease-in-out;
    float: left;
    line-height: 38px;
    font-size: 19px;
    width: 26px;
    margin-left: 11px;
    text-align: center;
    opacity: 0.8
}

.avatar span {
    padding: 0 10px;
    line-height: 41px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.2px;
    transition: opacity 150ms ease-in-out;
    font-size: 13px;
}

.dropdown {
    padding: 10px 0;
    width: 100%;
    margin: 0;
    height: 55px;
    display: inline-flex;
}   

.dropdown  span {
    height: 100%;
    margin: 0 40px;
    position: relative;
    bottom: 2px;
    width: 70%;
}

.dropdown  i {
    font-size: 30px;
    height: 100%;
    bottom: 0;
}

.upBtn {
    position: relative;
    left: -5px;
}

.upBtn p {
    float: right;
    color: #b2bbba;
    width: 15px;
    height: 15px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 15px;
}